html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hello Webpack
        link(rel="shortcut icon", href=require('./logo.png'), type="image/png")
    body
        web-component My web component
        .flex-center
            img(src=require('./logo.png'), alt="webpack logo")